body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.app {
  width: 400px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.chatbox {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 6px;
}

button {
  width: 25%;
  padding: 6px;
}